<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kuangren.mapper.social.circle.MoodMapper" >
  <resultMap id="BaseResultMap" type="com.kuangren.po.mood.Mood" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isSecret" property="isSecret" jdbcType="TINYINT" />
    <result column="seeCount" property="seeCount" jdbcType="INTEGER" />
    <result column="replyCount" property="replyCount" jdbcType="INTEGER" />
    <result column="topTime" property="topTime" jdbcType="TIMESTAMP" />
    <result column="favor" property="favor" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, content, createTime, status, isSecret, seeCount, replyCount, topTime, favor, 
    tag
  </sql>
  
  <!-- 查询心情前面多少条记录（排序：最新创建） -->
  <select id="getListFront" resultType="com.kuangren.po.mood.MoodCustom" parameterType="com.kuangren.po.mood.MoodQueryVo">
  	SELECT
		*
	FROM
		mood
	<where>
		<if test="poCustom!=null">
			<if test="poCustom.status != null">
				AND status &lt;&gt; #{poCustom.status}
			</if>
			<if test="poCustom.isSecret != null">
				AND isSecret = #{poCustom.isSecret}
			</if>
		</if>
	</where>
	ORDER BY
		createTime DESC
	LIMIT #{pagingBean.limitFront}
  </select>
  
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kuangren.po.mood.MoodExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mood
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mood
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mood
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kuangren.po.mood.MoodExample" >
    delete from mood
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kuangren.po.mood.Mood" >
    insert into mood (id, content, createTime, 
      status, isSecret, seeCount, 
      replyCount, topTime, favor, 
      tag)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{isSecret,jdbcType=TINYINT}, #{seeCount,jdbcType=INTEGER}, 
      #{replyCount,jdbcType=INTEGER}, #{topTime,jdbcType=TIMESTAMP}, #{favor,jdbcType=INTEGER}, 
      #{tag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kuangren.po.mood.Mood" >
    insert into mood
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isSecret != null" >
        isSecret,
      </if>
      <if test="seeCount != null" >
        seeCount,
      </if>
      <if test="replyCount != null" >
        replyCount,
      </if>
      <if test="topTime != null" >
        topTime,
      </if>
      <if test="favor != null" >
        favor,
      </if>
      <if test="tag != null" >
        tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isSecret != null" >
        #{isSecret,jdbcType=TINYINT},
      </if>
      <if test="seeCount != null" >
        #{seeCount,jdbcType=INTEGER},
      </if>
      <if test="replyCount != null" >
        #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="topTime != null" >
        #{topTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favor != null" >
        #{favor,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kuangren.po.mood.MoodExample" resultType="java.lang.Integer" >
    select count(*) from mood
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mood
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.isSecret != null" >
        isSecret = #{record.isSecret,jdbcType=TINYINT},
      </if>
      <if test="record.seeCount != null" >
        seeCount = #{record.seeCount,jdbcType=INTEGER},
      </if>
      <if test="record.replyCount != null" >
        replyCount = #{record.replyCount,jdbcType=INTEGER},
      </if>
      <if test="record.topTime != null" >
        topTime = #{record.topTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.favor != null" >
        favor = #{record.favor,jdbcType=INTEGER},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mood
    set id = #{record.id,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=TINYINT},
      isSecret = #{record.isSecret,jdbcType=TINYINT},
      seeCount = #{record.seeCount,jdbcType=INTEGER},
      replyCount = #{record.replyCount,jdbcType=INTEGER},
      topTime = #{record.topTime,jdbcType=TIMESTAMP},
      favor = #{record.favor,jdbcType=INTEGER},
      tag = #{record.tag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuangren.po.mood.Mood" >
    update mood
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isSecret != null" >
        isSecret = #{isSecret,jdbcType=TINYINT},
      </if>
      <if test="seeCount != null" >
        seeCount = #{seeCount,jdbcType=INTEGER},
      </if>
      <if test="replyCount != null" >
        replyCount = #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="topTime != null" >
        topTime = #{topTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favor != null" >
        favor = #{favor,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuangren.po.mood.Mood" >
    update mood
    set content = #{content,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      isSecret = #{isSecret,jdbcType=TINYINT},
      seeCount = #{seeCount,jdbcType=INTEGER},
      replyCount = #{replyCount,jdbcType=INTEGER},
      topTime = #{topTime,jdbcType=TIMESTAMP},
      favor = #{favor,jdbcType=INTEGER},
      tag = #{tag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>